machine:
  install:
    disk: /dev/sda
    wipe: true
    extraKernelArgs:
      - cpufreq.default_governor=performance
  kubelet:
    extraArgs:
      rotate-server-certificates: true
    extraMounts:
      - destination: /var/local/openebs
        type: bind
        source: /var/local/openebs
        options:
          - rbind
          - rshared
          - rw
  network:
    hostname: ${hostname}
    kubespan:
      enabled: true
  sysctls:
    vm.nr_hugepages: "1024"
%{ if enable_mayastor == true }
  nodeLabels:
    openebs.io/engine: mayastor
%{ endif }
cluster:
%{ if controlplane == true }
  allowSchedulingOnControlPlanes: true
  apiServer:
    admissionControl:
      - name: PodSecurity
        configuration:
          apiVersion: pod-security.admission.config.k8s.io/v1beta1
          kind: PodSecurityConfiguration
          exemptions:
            namespaces:
              - openebs
%{ endif }
  discovery:
    enabled: true
    registries:
      kubernetes: # Kubernetes registry is problematic with KubeSpan, if the control plane endpoint is routeable itself via KubeSpan.
        disabled: true
      service: {}
  extraManifests:
    - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
    - https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml
